 
a{
    opacity: 0;
    pointer-events: none;
    cursor: default;
    text-decoration: none;
}


a:-webkit-any-link{
    visibility:hidden;
}

p{
    text-align: center;
}

html{
    font-family: 'Anton', sans-serif;
}